body {
    background-color: rgb(30, 30, 30);
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

}

h1 {
    margin: 0;
    width: 100%;
    padding: 0;
    height: 30px;
    text-align: left;
    color: deepskyblue;
    background-color: rgb(57, 57, 57);
    font-size: 40px;
    font-family: Impact;
}

.homeTop {
    margin: 0;
    width: 100%;
    height: 1148px;
    padding: 0;
    background-color: rgb(30 30 30);
    text-align: center;
    color: deepskyblue;
    font-family: Impact;
    font-size: 100px;
}

.nav {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align:center;
    color: deepskyblue;
    background-color: rgb(57, 57, 57);
    font-family: Impact;
}

.nav ul {
    margin: 0;
    list-style-type:none;
    padding: 15px;
    overflow: hidden;
    background-color: inherit;
    font-size: 20px
}
li {
    float: left;
}

li a {
    display: block;
    color: deepskyblue;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}



.home {
    width: 100%;
    padding: 0;
    background-color: rgb(65 65 65);
    text-align:center;
    color: white;
    font-family: Impact;
    
}
